<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Orc_Die_Right0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,279},{91,92}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{91,92}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,185},{91,92}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{91,92}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,103},{93,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{93,94}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,103},{93,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{93,94}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1},{93,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{93,94}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,301},{95,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{95,96}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,103},{97,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{97,100}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{99,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,102}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,203},{91,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{91,98}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,203},{83,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,3},{83,96}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,397},{73,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,4},{73,94}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,277},{65,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,6},{65,90}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,185},{57,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,8},{57,86}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,1},{43,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,12},{43,82}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,473},{31,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,15},{31,78}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,483},{25,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,10},{25,74}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,491},{17,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,6},{17,70}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_Die_Right0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,491},{11,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,1},{11,66}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>Orc_move_right0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,299},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,299},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,197},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,93},{92,90}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{92,90}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,1},{92,90}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{92,90}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,381},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,95},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,371},{92,90}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{92,90}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,391},{92,92}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,289},{92,92}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,397},{92,94}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,187},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,93},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,93},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>Orc_move_right0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,1},{92,92}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Orc.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7fd22ee8e47ea7231532539b41d887de$</string>
		<key>textureFileName</key>
		<string>Orc.pvr.ccz</string>
	</dict>
</dict>
</plist>
